/vendor
/cov
swoole.pid
clover.xml
**/.phpunit.result.cache
.phpunit.cache/*
.php-cs-fixer.cache
*.tmp
mutagen.yml.lock
tests/Fixtures/Symfony/app/data/*
tests/Fixtures/Symfony/app/var/*
!tests/Fixtures/Symfony/app/var/.gitkeep
docker-compose.override.yml
Dockerfile.override
ext
!ext/.gitignore
.env
/.phpcs-cache
