/vendor
/cov
swoole.pid
clover.xml
**/.phpunit.result.cache
.phpunit.cache/*
.php-cs-fixer.cache
*.tmp
mutagen.yml.lock
tests/Fixtures/Symfony/app/data/*
docker-compose.override.yml
Dockerfile.override
ext
!ext/.gitignore
.env
/.phpcs-cache
