parameters:
    inferPrivatePropertyTypeFromConstructor: true
    level: 4
    paths:
      - tests
    scanDirectories:
      - tests/Unit/Server/SwooleHttpServerMock
    excludePaths:
        - tests/Fixtures/Symfony/app/var
        # Internal error: Expected to find an ancestor with class name Swoole\Timer on Swoole\Server, but none was found.
        - tests/Unit/Server/SwooleServerMock.php
        - tests/Unit/Server/SwooleHttpServerMock
        # Open/Swoole problems when only one extension installed
        - tests/Unit/Common/System/SystemTest.php
        - tests/Unit/Common/System/VersionTest.php
    ignoreErrors:
        # Put false positives here
        # Symfony configuration files
        - '#Variable \$container might not be defined#'
    tmpDir: /tmp/phpstan_tests
