parameters:
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    excludePaths:
        - src/Bridge/Symfony/Bundle/DependencyInjection/Configuration.php
        - src/Bridge/Symfony/Container/ContainerModifier.php

        # Internal error: Expected to find an ancestor with class name Swoole\Timer on Swoole\Server, but none was found.
        - src/Server/WorkerHandler/HMRWorkerStartHandler.php
        - hack
    ignoreErrors:
        # Put false positives here
        - '#PHPDoc tag @var for variable \$row contains unresolvable type#'
