parameters:
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    level: 7
    paths:
        - src
    excludePaths:
        - src/Bridge/Symfony/Bundle/DependencyInjection/Configuration.php
        - src/Bridge/Symfony/Container/ContainerModifier.php
        - src/Bridge/Monolog/StreamHandler.php
        # Internal error: Expected to find an ancestor with class name Swoole\Timer on Swoole\Server, but none was found.
        - src/Server/WorkerHandler/HMRWorkerStartHandler.php
        - tests
        # Open/Swoole problems when only one extension installed
        - src/Bridge/OpenSwoole/OpenSwoole.php
        - src/Bridge/OpenSwoole/WaitGroup.php
        - src/Bridge/Swoole/WaitGroup.php
        - src/Common/System/System.php
    ignoreErrors:
        # Put false positives here
        - '#PHPDoc tag @var for variable \$row contains unresolvable type#'
    tmpDir: /tmp/phpstan_src
