parameters:
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    level: 4
    paths:
        - tests
    excludePaths:
        - tests/Fixtures/Symfony/app/var
        - tests/Fixtures/Symfony/app/TestAppKernel
        # Internal error: Expected to find an ancestor with class name Swoole\Timer on Swoole\Server, but none was found.
        - tests/Unit/Server/SwooleHttpServerDummy.php
        - tests/Unit/Server/SwooleServerMock.php
        - tests/Unit/Server/Php8/SwooleServerMock.php
        - tests/Unit/Server/SwooleHttpServerMock.php
    ignoreErrors:
        # Put false positives here

        # Symfony configuration files
        - '#Variable \$container might not be defined#'
    tmpDir: /tmp/phpstan_tests
